/vendor/
/.idea/
/.vscode

/template/storage/apollo/*
!/template/storage/apollo/.gitkeep

/template/storage/app/*
!/template/storage/app/.gitkeep

/template/storage/temp/*
!/template/storage/temp/.gitkeep

/template/storage/logs/*
!/template/storage/logs/.gitkeep